body {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

h1, h2 {
    font-family: 'Besley', sans-serif;
    text-align: center;
}

h1{
    background-image: url("https://www.figma.com/file/2CPH72ftEojrvODmpRhfk7/Untitled?node-id=12%3A31");
}

#blue_yellow{
    position: absolute;
    left: 0%;
    top: 1%;
}

#red_green{
    position: absolute;
    right: 0%;
    top: 1%;
}

h2 {
    padding-top: 10px;
}

h3 {
    font-family: 'Besley', sans-serif;
    padding-left: 10px;
}

p {
    font-family: 'Rubik', sans-serif;
    padding-left: 15px;
    padding-right: 15px;
}

table {
    display: flexbox;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

th {
    font-family: 'Besley', sans-serif;
    background-color: #77DBDA;
    padding: 10px 70px;
    font-weight: unset;
}

td {
    padding: 10px 75px;
    font-family: 'Besley', sans-serif;
    background-color: #89DACD;
    text-align: center;
}

button{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    border: none;
    background-color: #8CDAFF;
    border-radius: 50px;
}

button:hover{
    background-color:#63B1FF;
    cursor: pointer;
}

#start{
    position: absolute;
    left: 48.5%;
    top: 73%;
}

#Exit{
    position: absolute;
    left: 48.8%;
    top: 78%;
}

 #gitBtn {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    border: none;
    background-color: #8CDAFF;
    border-radius: 50px;
    width: 140px;
    height: 50px;
    margin-top: 20px;
    margin-left: 180px;
 }

 #gitBtn:hover{
    background-color:#63B1FF;
 }

#loginForm {
    height: 200px;
    width: 500px;
    background-color: #EEDCFC;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

#instructionOverlay {
    height: 550px;
    width: 500px;
    background-color: #EEDCFC;
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: -40%;
    top: 70%;
}

.overlay {
    display: block;
}

.back {
    margin-left: 740px;
    margin-top: 10px;
}

.colorTile {
    height: 200px;
    width: 200px;
  }

.colorTile.clickable {
    cursor: pointer;
}
  
.tileContainer {
    display: flex;
    width: 400px;
    flex-wrap: wrap;
    position: absolute;
    left: 37%;
    top: 13%;
}

.buttonContainer {
    display: flex;
    width: 542px;
    flex-wrap: wrap;
    position: absolute;
    left: 32.5%;
    top: 13%;
}

.flash {
    border: 3px solid white;
    border-radius: 5px;
    box-sizing: border-box;
}

.green {
    background-color: #45963E;
}

.red {
    background-color: #DA1D1D;
}
.yellow { 
    background-color: #DAC71D;
}

.blue {
    background-color: #1D52DA;
}

.green.flash{
    background-color: rgb(125, 255, 125);
}

.red.flash{
    background-color: rgb(255, 125, 125);
}
.yellow.flash{
    background-color: rgb(255, 255, 125);
}

.blue.flash{
    background-color: rgb(125, 125, 225);
}

.play_text{
    transform-origin: 50%, 50%;
    transform-box: fill-box;
}

.score{
    position: absolute;
    left: -30%;
}

#leaderboard {
    margin-left: 95px;
    margin-right: 15px;
}