<!DOCTYPE html>
<html lang="en">

<head>
    <title>Memory Game</title>
    <meta charset="utf-8" />
    <link rel="icon" href=https://cdn3.iconfinder.com/data/icons/retro-tech/60/Retro_Tech_-_Flat_-_054_-_Simon_Says-512.png
        type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Besley&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Lobby page to et ready to play Memory Game">
</head>

<body>
    <script src="js/scripts.js" defer></script>
    <link href="css/style.css" rel="stylesheet">
    <h1>Welcome to Memory Game!</h1>
    <div id='instructionOverlay'>
        <h2>Instructions</h2>
        <p>
            The game is just like Simon where there are four colored buttons: red, yellow, green, and blue and it would
            play a sequence of patterns that the player(s) have to re-create the pattern to go to the next round. After
            completing each round, the difficulty will increase as both the sequences would get longer and the speed of 
            displaying those sequences will increase. You can either host a game or join a room with other players with a 
            room key.
        </p>
        <h3>Host a Game</h3>
        <p>
            To host a game, press the "Host" button which you will then be prompted to create a
            room key where you share with other players to join your game. Once you have everyone in your
            lobby, you can press the "Start" button to start the game.
        </p>
        <h3>Join a Game</h3>
        <p>
            To join a game, press the "Join" button which you will then be prompted to enter the room key and once you
            hit "Enter", it will redirect you to the Waiting Room with other players that have joined as well.
        </p>
        <button id="host">Host</button>
        <button id="join">Join</button>
    </div>
    <div id="hostOverlay" class="overlay">
        <div id="hostContents" class="content">
            <h2>Create a Room</h2>
            <div></div>
            <input type="text" id="newRoomKey" class="contentText" placeholder="Create room key">
            <div></div>
            <button id="hostBack" class="back">Back</button>
            <button id="submit">Submit</button>
        </div>
    </div>
    <div id="joinOverlay" class="overlay">
        <div id="joinContents" class="content">
            <h2>Please Enter the Room Key</h2>
            <div></div>
            <input type="text" id="roomKey" class="contentText" placeholder="Enter room key">
            <div></div>
            <button id="joinBack" class="back">Back</button>
            <button id="enter">Enter</button>
        </div>
    </div>
    <div id="waitOverlay" class="overlay">
        <div id="waitContents" class="content">
            <h2>Waiting Room</h2>
            <button id="start">Start</button>
        </div>
    </div>
</body>
</html>