<!DOCTYPE html>
<html lang="en">

<head>
    <title>Memory Game</title>
    <meta charset="utf-8" />
    <link rel="icon" href=https://cdn2.bulbagarden.net/upload/thumb/1/1f/831Wooloo.png/1200px-831Wooloo.png
        type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Besley&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Login page to play Memory Game">
</head>

<body>
    <script src="js/scripts.js" defer></script>
    <link href="css/style.css" rel="stylesheet">
    <h1>Welcome to Memory Game!</h1>
    <div id='loginForm'>
        <h2>Login</h2>
        <button id="gitBtn">Sign in with GitHub</button>
    </div>
</body>
</html>